.formControl {
  max-width: 70%;
  position: relative;
}

.invalid input {
  background-color: pink;
}

.formInput {
  width: min-content;
  line-height: 22px;
  border-color: rgb(20 20 20);
  border-width: 2px;
  border-radius: 32px;
  box-shadow: 0 0 0 0;
  padding-left: 15px;
  margin: 5px;
}